body { 
    overflow: hidden;
    background-color: #23405c;
}

#main-chat {
    background-color: #1a1a3a;
    opacity: 0.6;
    color: white;

    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;

    display: grid;
    /* place-items: center; */
    height: 80vh;
    padding-bottom: 100%;
}

#message-window {
    width: 100px;
    height: 100px;
    background-color: red;

    margin: 25px;
    margin-left: 55px;
    margin-right: 55px;
    position: absolute;
} 

#lista-chats {
    width: 18vw;
    height: 80vh;
    background-color: #29295f;

    margin: auto;
    margin-right: 7vh;
    margin-top: 0;
    padding-bottom: 100%;

}

#footer-chat {
    width: 55vw;
    height: 50px;
    background-color: transparent;

    margin: auto;   
    margin-bottom: -90vh;
    margin-left: 15vh; /* Centrado 20vh */
    align-self: center;
    align-items: center;

    position: absolute; /* Para que se vea encima de otro div*/
}

#main-placeholder {
    width: 250px;
    height: 45px;
    line-height: 44px;
    
    align-self: center;

    width: 50vw;
    height: 50px;
    background-color: transparent;
    color: white;
}

#main-placeholder #placeholder-ip {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid #2ecc71;
    border-radius: 10px;
    outline: none;
    padding: 0 10px;
    font-size: 17px;
    color: white;
    white-space: pre-wrap;
    overflow: hidden;
}

#main-placeholder #placeholder-lb {
    position: absolute;
    top: 5px;
    left: 15px;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    transition: top .3s;
    padding: 0;
}

#main-placeholder #placeholder-ip:focus ~label{
    top: -35px;
    background-color: transparent;
}

#main-placeholder  #placeholder-ip:valid ~label {
    top: -35px;
    background-color: transparent;
}

/*
/* El texto de Your message*
#placeholder-lb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s all;
    cursor: text;
  }
  /* Texto del input*
  #placeholder-ip {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    border-bottom: 2px solid;
    box-shadow: inset;
    color: #111;
  }
  /* Color barrita sin tocarla *
  #placeholder-ip:invalid {
    outline: 0;
    color: #ff2300;
    border-color: #ff2300;
  }
  /* Color barrita escribiendo*
  #placeholder-ip:focus,
  #placeholder-ip:valid {
    border-color: #00dd22;
  }
  #placeholder-ip:focus~#placeholder-lb,
  #placeholder-ip:valid~#placeholder-lb {
    font-size: 14px;
    top: -24px;
    color: #00dd22;
  }
  */

button {
    left: 50vh;
    top: 50vh;
    position: relative;
    margin: 25px;
    margin-left: 55px;
    margin-right: 55px;
}