/* Todo esto es algo temporal para que no me de tock al verlo */
html {
    background-image: url('background-body.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
    -moz-opacity:.65;opacity:.65;
    background-size: cover;
    color: wheat;
    width: 1350px;
    height: 615px;
}

#loggin-container{
    grid-auto-columns: 20px;
}

input{
    color: black;
    background-color: wheat;
    margin: 5px;
    padding: 5px;
}

#buton-loggin{
    margin-left: 135px;
}