/* Todo esto es algo temporal para que no me de tock al verlo */
html {
    background-image: url('/web/Images/background-body.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif, Arial, Helvetica;

    height: 100%;
}

body {
    max-height:100%;
    max-width: 100%;

    margin-top: -5%;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 5%;

    background-color: black;
    -moz-opacity:.65;opacity:.65;
    overflow: hidden;

    color: white;

}

#topbar {
    color: red;
    background-color: red;
}

#main-chat{
    height: 83%;
    width: 95%;

    margin: 0;
    padding: 0;
    padding-bottom: -10%;


    background-color: gray;
    -moz-opacity:.9;opacity:.9;

    border: 2px black solid;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -56%);
    
}