form {
  margin: 100px;
}
/* Todo en general*/
.input-field {
  position: relative;
  width: 250px;
  height: 44px;
  line-height: 44px;
}
/* El texto de Your message*/
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
/* Texto del input*/
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: inset;
  color: #111;
}
/* Color barrita sin tocarla */
input:invalid {
  outline: 0;
  color: #ff2300;
  border-color: #ff2300;
}
/* Color barrita escribiendo*/
input:focus,
input:valid {
  border-color: #00dd22;
}
input:focus~label,
input:valid~label {
  font-size: 14px;
  top: -24px;
  color: #00dd22;
}
